/* styling courtesy of https://pythonhow.com/add-css-to-flask-website/ */
body {
    margin: 0;
    padding: 0;
    font-family: font-family: "Lucida Console"; // "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
}

/* formatting the header area */

header {
    background-color: #DFB887;
    height: 35px;
    width: 100%;
    opacity: 0.9;
    margin-bottom: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 0.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}

header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}


/* Centering the body content */

container {
    width: 1200px;
    margin: 0 auto;
}

div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
}

h4 {
    font-size: 1.0em;
    font-weight: 100;
    margin-top: 10px;

}



.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CFE0FD;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}



.menu {
    float: right;
    margin-top: 6px;
}

.menu li {
    display: inline;
}

.menu li + li {
    margin-left: 35px;
}

.menu li a {
    color: #444;
    text-decoration: none;
}
