<!DOCTYPE html>
<html>
    <head>
        <title> Chess </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

    </head>
    <body>
        <header>
        <div class="home">
            <h2 class="logo"> Chess </h2>
            <h3> It's a lovely afternoon for a clash of carbon and silicon. </h3>




            <h3>
            <button type="button" onclick="start_game()">New Game</button>

            <p> </p>

            <img id="cover" src='{{ url_for('static',filename="png/cover_photo.jpg") }}' style="width:1000px">
            </h3>

            <p align="center">
                <canvas id="board" width="600" height="600" style="border:3px solid #000000" style="display:none">
                    Your browser does not support canvas.
                </canvas>
            <p>


            <strong><nav>
                <ul class="menu">

                    <li> <a href="{{ url_for('about') }}">About</a></li>

                </ul>
            </nav></strong>
            <br> </br>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        </header>

        <script>
        const boardCanvas = document.getElementById('board');
        boardCanvas.style.display = "none";
        boardCanvas.addEventListener('click', function(event) {
            var cLoc = get_click_location(boardCanvas,event);
            alert('clicked on board: loc ' + cLoc.i + ' ' + cLoc.j);
        } );

        function get_click_location(canvas, event) {
            var bounds = canvas.getBoundingClientRect();
            var x = event.clientX - bounds.left;
            var y = event.clientY - bounds.top;
            var loc = new Loc(x,y);
            console.log(x,y);
            return loc;
        }



        class Loc {
            /* can be pixel location or board location,
                depending on context */
            constructor(i,j) {
                this.i = i;
                this.j = j;
            }
            loc_equals(loc2) {
                /* is LOC equivalent to arg LOC2? */
                return ((this.i == loc2.i) && (this.j == loc2.j));
            }

            to_index() {
                return this.i + this.j * 8;
            }

            to_pixel(sideLen) {
                var x = this.i * sideLen;
                var y = this.j * sideLen;
                return new Loc(x,y);
            }

            to_square(sideLen) {
                var x = Math.floor(this.i / sideLen);
                var y = Math.floor(this.j / sideLen);
                return new Loc(x,y);
            }
        }

        function get_piece_art_filepath(sq) {
            /* returns filepath to piece art, or "" if empty square */
            if(sq == '-') {
                return "";
            }
            var file_lookup = {
                'p':"white_pawn.png",
                'P':"black_pawn.png",
                'R':"black_rook.png",
                'N':"black_knight.png",
                'B':"black_bishop.png",
                'Q':"black_queen.png",
                'K':"black_king.png",
                'r':"white_rook.png",
                'n':"white_knight.png",
                'b':"white_bishop.png",
                'q':"white_queen.png",
                'k':"white_king.png"
            };
            return "/static/png/piece_art/" + file_lookup[sq];

        }

        function print_square(color,sideLen,topLeft,pc,highLit) {
            var b = document.getElementById('board');
            var ctx = b.getContext('2d');
            ctx.fillStyle = color;
            ctx.fillRect(topLeft.i,topLeft.j,sideLen,sideLen);

            if(highLit) {
                var ctx = b.getContext('2d');
                ctx.beginPath();
                ctx.strokeStyle = highLit;

                var shrinkBy = 6;
                ctx.lineWidth = shrinkBy.toString();
                var hiSideLen = sideLen - shrinkBy;
                var hx = topLeft.i + shrinkBy/2; var hy = topLeft.j + shrinkBy/2;
                ctx.rect(hx,hy,hiSideLen,hiSideLen);
                ctx.stroke();
            }

            if (pc != '-') {
                var fp_image = get_piece_art_filepath(pc);
                var image = new Image();
                var b = document.getElementById('board');
                var ctx = b.getContext('2d');
                image.src = fp_image;
                image.onload = function () {//waits for image to load
                    ctx.drawImage(image,topLeft.i,topLeft.j,sideLen,sideLen);
                };

            }
        }

        class Board {

            constructor(squares,screen_size,light,dark) {
                this.squares = squares; // 64 char string, view as 8x8 grid
                this.highlights1 = 0; // two 32-bit integers, 1 is highlighted
                this.highlights2 = 0;
                this.playing = true;
                this.screen_size = screen_size; // square
                this.sideLen = screen_size / 8;
                // colorings of squares:
                this.light = light;
                this.dark = dark;
                this.hliteColor = "#FF2828"; // hard coded: red highlights
                //this.highlights = new Highlights();
            }

            isHighlighted(loc) {
                /* return the highlight state of LOC */
                var ind = loc.to_index();
                if (ind > 31) {
                    return (this.highlights2 >>> ind) & 1;
                }
                return (this.highlights1 >>> ind) & 1;
            }

            get_piece(loc) {
                return this.squares.charAt(loc.to_index());
            }

            add_highlight(loc) {
                /* set hi lite state of LOC */
                var ind = loc.to_index();
                if (ind > 31) {
                    this.highlights2 = this.highlights2 | (1 << ind);
                } else {
                    this.highlights1 = this.highlights1 | (1 << ind);
                }
            }

            print_board() {
                for(var i = 0; i < 8; i++) {
                    for(var j = 0; j < 8; j++) {
                        var pcLoc = new Loc(i,j)
                        var sqLoc = pcLoc.to_pixel(this.sideLen);
                        var isLight = (((i % 2 == 0) && (j % 2 == 0)) ||
                        (i % 2 == 1) && (j % 2 == 1));
                        var color;
                        if(isLight) {
                            color = this.light;
                        } else {
                            color = this.dark;
                        }
                        var pc = this.get_piece(pcLoc);
                        var highLit = "";
                        if(this.isHighlighted(pcLoc)) {
                            highLit = this.hliteColor;
                        }
                        print_square(color,this.sideLen,sqLoc,pc,highLit);
                    }
                }
            }
        }

        function start_game() {
            document.getElementById("cover").style.display = "none";
            var b = document.getElementById('board');
            b.style.display = "block";
            b.margin = "auto";
            b.padding="0";
            var light = "#DFE8EE";
            var dark = "#2970A0";
            var squares = "RNBQKBNRPPPPPPPP--------------------------------pppppppprnbqkbnr";
            var gameBoard = new Board(squares,600,light,dark);
            var hl = new Loc(3,4);
            gameBoard.add_highlight(new Loc(3,4));
            gameBoard.print_board();
        }
        </script>

    </body>
</html>