<!DOCTYPE html>
<html>
    <head>
        <title> Chess </title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    </head>
    <body>
        <header>
        <div class="home">
            <h2 class="logo"> Chess </h2>
            <h1> flesh versus silicon. </h1>

            <strong><nav>
                <ul class="menu">

                    <li> <a href="{{ url_for('about') }}">About</a></li>

                </ul>
            </nav></strong>
            <br> </br>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        </header>

    </body>
</html>